.navbar{
    background-color: blue;
}
a{
    text-decoration: none !important; 
    color: white !important;
}
.navbar .menu-item {
    color: white;
    text-decoration: none;
}
.navbar .menu-item:hover .menu-item-text{
    color: red;
}
.menu-item{
    cursor: pointer;
}
.banner-top img{
    max-height: 200px;
}
.submit-btn
{
    margin: auto ;
    display: block !important;
}
.card{
    cursor: pointer;
    margin: 10px !important;
    padding: 0 !important;
    width: 100%;
}
.card-btn{
    width: 100%;
}
.card-title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.card-price{
    text-align: left;
    background-color: aqua !important;
}
#footer{
    border-top: 1px solid black;
}